
body {
  background-color: #e3f6ff;
  font-family: 'Caladea', serif;
  width: 100%;
  overflow-x: hidden;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
h1{color: #66bfbf}
h2{color: #66bfbf}
h3{color: #66bfbf}
